/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker/temp/*
!/docker/temp/.gitkeep
/docker/db_files/*
!/docker/db_files/.gitkeep
